body {
    background-color: rgb(228, 228, 228);
    margin: 5%;
    color:darkslateblue;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    text-align: center;
}

.button {
    background-color: darkslateblue;
    color:whitesmoke;
    margin-top: .5rem;
    display: block;
}

main {
    max-width: 50%;
    justify-content: center;
}

div {
    margin-top: 1rem;
}