body {
    background-color: rgb(228, 228, 228);
    margin: 5%;
    color:darkslateblue;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    text-align: center;
}

/* Layout */

main {
    max-width: 50%;
    justify-content: center;
}

div {
    margin-top: 1rem;
}

#controls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.high-scores, .timer, .score-box{
    width: 30%;
}

/* Button styles */
.button {
    background-color: darkslateblue;
    color:whitesmoke;
    margin-top: .5rem;
    padding: 10px;
    display: block;
    box-shadow: none;
    border-width: 0px;
    border-radius: 20px;
    text-wrap: wrap;
}

.button:hover {
    background-color: white;
    color: darkslateblue;
}